# Python virtual environment
.venv/
venv/

# Python cache files
__pycache__/
*.py[cod]

# macOS files
.DS_Store

# VS Code project settings
.vscode/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Environment variables and secrets
.env

# Test and coverage files
.pytest_cache/
.coverage
htmlcov/

# Build files
build/
dist/
*.egg-info/